h1
{
    font-size: 12px;
    font-family: sans-serif;
    font-weight: normal;
}

h2
{
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
}

h3
{
    font-size: 12px;
    font-family: sans-serif;
    font-weight: normal;
}

h4
{
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
}

h5
{
    font-size: 12px;
    font-family: sans-serif;
    font-weight: normal;
}

h6
{
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
}

h7
{
    font-size: 12px;
    font-family: sans-serif;
    font-weight: normal;
}

h8
{
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
}

h9
{
    font-size: 12px;
    font-family: sans-serif;
    font-weight: normal;
}

h10
{
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
}

h11
{
    font-size: 12px;
    font-family: sans-serif;
    font-weight: normal;
}

h12
{
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
}

h13
{
    font-size: 12px;
    font-family: sans-serif;
    font-weight: normal;
}